:root {
    --primary-color: #faedcd;
    --secondary-color: #fefae0;
    --assent-color: #d4a373;
    --background-color: linear-gradient(to right, #e6bbb1, #efcbbe, #e6bbb1);
    --font-color: #000;
  }

  
  